name: Push Multiarch Images
on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push-arch-specifics:
    name: Build Rocks and Push Arch Specific Images
    uses: canonical/k8s-workflows/.github/workflows/build_rocks.yaml@KU-4668/go-build-issues
    with:
      owner: ${{ github.repository_owner }}
      trivy-image-config: "trivy.yaml"
      multiarch-awareness: true
      cache-action: ${{ (github.event_name == 'push') && 'save' || 'restore' }}
      arch-skipping-maximize-build-space: '["arm64", "amd64"]'
      platform-labels: '{"arm64": ["self-hosted", "linux", "arm64", "jammy", "xlarge"], "amd64": ["self-hosted", "linux", "amd64", "jammy", "xlarge"]}'
      enabled-ubuntu-pro-features: "fips-updates"
      rockcraft-revisions: '{"amd64": "3494", "arm64": "3547"}'
    secrets:
      UBUNTU_PRO_TOKEN: ${{ secrets.UBUNTU_PRO_TOKEN }}
  scan-images:
    uses: canonical/k8s-workflows/.github/workflows/scan_images.yaml@KU-4668/go-build-issues
    needs: [build-and-push-arch-specifics]
    secrets: inherit
    with:
      upload-result: ${{ github.event_name == 'push' }}
      images: ${{ needs.build-and-push-arch-specifics.outputs.images }}
      trivy-image-config: ./trivy.yaml
  build-and-push-multiarch-manifest:
    name: Combine Rocks and Push Multiarch Manifest
    uses: canonical/k8s-workflows/.github/workflows/assemble_multiarch_image.yaml@KU-4668/go-build-issues
    needs: [build-and-push-arch-specifics]
    if: ${{ needs.build-and-push-arch-specifics.outputs.changed-rock-metas != '[]' }}
    with:
      rock-metas: ${{ needs.build-and-push-arch-specifics.outputs.changed-rock-metas }}
      dry-run: ${{ github.event_name != 'push' }}
